@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --soft-violet: hsl(273, 75%, 66%) !important;
    --soft-blue: hsl(240, 73%, 65%) !important;
}

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: rgb(18,27,102);
    background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue)100%);
    background-repeat: no-repeat;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

