@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --soft-violet: hsl(273, 75%, 66%) !important;
    --soft-blue: hsl(240, 73%, 65%) !important;
}

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    background: var(--soft-violet); /* fallback color */
    background: linear-gradient( to bottom, var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

